<link rel="stylesheet" href="invoice-list.component.css">
<div class="container mt-4">
  <div class="card" style="width: 1200px">
    <h3 class="card-header">Lista Računa</h3>
    <div class="d-flex justify-content-end mt-3">
      <a class="btn btn-success" routerLink="kasa">Dodaj Račun [+]</a>
    </div>
    <div class="card-body">
      <table class="table table-bordered table-hover mt-3">
        <thead class="thead-light">
          <tr class="bg-dark text-white">
            <th>Broj Računa</th>
            <th>Ime Kupca</th>
            <th>Napomena</th>
            <th>Popust</th>
            <th>Iznos Popusta</th>
            <th>Vrijednost</th>
            <th>Uredi</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of Invoiceheader">
            <td>{{item.broj}}</td>
            <td>{{item.nazivKupac}}</td>
            <td>{{item.napomena}}</td>
            <td>{{item.popust | percent}}</td>
            <td>{{item.iznosPopusta | currency}}</td>
            <td>{{item.vrijednost | currency:'KM'}}</td>
            <td>
              <a class="btn btn-primary btn-action">Uredi</a>

              <button (click)="deleteInvoice(item.stavkaId)" class="btn-action btn-danger">Izbriši</button>
              <button (click)="openEmailModal(template, item.broj)" class="btn btn-primary btn-action">Pošalji e-račun</button>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Modal za unos emaila -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Pošalji e-račun putem emaila</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef?.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="email">Email adresa:</label>
      <input type="email" [(ngModel)]="email" class="form-control" placeholder="Unesite email adresu" />
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="sendERacun()">Pošalji</button>
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Zatvori</button>
  </div>
</ng-template>




