<div class="card" style="width: 1200px">
  <h3>Listing Invoice</h3>
  <div class="card-header">
      <a class="btn btn-success" routerLink="kasa">Create New [+]</a>
  </div>
  <div class="card-body">

      <table class="table table-bordered">
          <thead class="bg-dark text-white">
              <tr>
                  <td>Broj Računa</td>
                  <td>Ime Kupca</td>
                  <td>Napomena</td>
                  <td>Popust</td>
                  <td>Iznos Popusta</td>
                  <td>Vrijednost</td>
                  <td>Uredi</td>
              </tr>
          </thead>
          <tbody>
<tr *ngFor="let item of Invoiceheader">
  <td>{{item.broj}}</td>
  <td>{{item.nazivProizvod}}</td>
  <td>{{item.kolicina}}</td>
  <td>{{item.popust | currency}}</td>
  <td>{{item.iznosPopusta | currency}}</td>
  <td>{{item.vrijednost | currency}}</td>
  <td>
    <a class="btn btn-primary">Uredi</a> / <a class="btn btn-danger">Izbriši</a>
  </td>

</tr>
          </tbody>

      </table>

  </div>

</div>

